{# src/Champloo/SiteBundle/Resources/views/Categorie/indexCategorie.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}
	<h1>Ajouter une catégorie</h1>
	<a href="{{ path('champloo_site_categorie_ajouter') }}">Ajouter une catégorie</a>
	<br/>

	<h3>Ajouter une sous-catégorie</h3>
	<a href="{{ path('champloo_site_sous_categorie_ajouter') }}">Ajouter une sous-catégorie</a>
	<br/>
	
	<h1>Catégories enregistrées</h1>
	{% for categorie in categories %}
		<li>
			<div id="categorie.id">
				<h2>Nom de la catégorie :</h2> {{categorie.nom}}
				<br/>
				<h3>Description de la catégorie :</h3> {{categorie.description}}
				<br/>
			{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('champloo_site_categorie_supprimer', {'categorie_slug' : categorie.slug }) }}" class="btn">	
						<i class="icon-chevron-left"></i>
						Supprimer
					</a>
						<a href="{{ path('champloo_site_categorie_editer', {'categorie_slug' : categorie.slug }) }}" class="btn">	
						<i class="icon-chevron-left"></i>
						Editer
					</a>
			{% endif %}
				{% for sousCategories in categorie.sousCategories %}
					<ul>
						<h4>Nom de la sous-catégorie :</h4> {{sousCategories.nom}}
						<br/>
						<h4>Description de la sous-catégorie :</h4> {{sousCategories.description}}
						<br/>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('champloo_site_sous_categorie_supprimer', {'sous_categorie_slug' : sousCategories.slug }) }}" class="btn">	
								<i class="icon-chevron-left"></i>
								Supprimer
							</a>
								<a href="{{ path('champloo_site_sous_categorie_editer', {'sous_categorie_slug' : sousCategories.slug }) }}" class="btn">	
								<i class="icon-chevron-left"></i>
								Editer
							</a>
						{% endif %}
					</ul>
				{% endfor %}
		</li>
	{% endfor %}

{% endblock %}