{# src/Champloo/SiteBundle/Resources/views/Article/lire.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}
	<article class="article">
		
			<div class="date"><time datetime="{{ article.datecreation|date('c')}}">{{article.datecreation|date('l, F j,Y')}}</time>				
			</div>
			<h2>{{ article.titre}}</h2>
		
		<img src="{{ asset(['image/', article.image]|join) }}" alt="{{ article.titre}} image non trouvé" class="large"/>
		<div>
			<p>{{ article.contenu }}</p>
		</div>
	</article>

{{render (controller('ChamplooCommentaireBundle:Commentaire:indexCommentaire', {'id': article.id}))}}



{# 	<h3>Poster un nouveau commentaire</h3>
	{% for commentaire in article.commentaires %}
		{% include "ChamplooCommentaireBundle::commentaire.html.twig"%}
		<hr />
	{% else %}
		<p>Pas encore de commentaire</p>
	{% endfor %}

	<h3>Poster un commentaire</h3>
	{{render (controller('ChamplooCommentaireBundle:Commentaire:formCommentaire', {'id': article.id}))}} #}
{# 	<form method="post" action="{{path('champloo_commentaire_ajouter', {'id': article.id}) }}">
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_widget(form) }}
		{{ form_errors(form.contenu) }}
		{{ form_end(form) }}
		<input type="submit" value="Ajouter" class="btn btn-primary"/>
	</form> #}

{% endblock %}
