{# src/Champloo/TaxonomieBundle/Resources/views/Taxonomie/supprimerTerme.html.twig #}

{% extends "ChamplooSiteBundle::layout.html.twig" %}

{% block champloo_site_bundle_homepage_index %}

<h3>Supprimer une taxonomie</h3>
{% if terme.niveau == 0 %}
	<p>
	Êtes-vous certains de vouloir supprimer le vocabulaire "{{ terme.title }}" et tout ses enfants ?
	</p>
{% else %}
	<p>
	Êtes-vous certains de vouloir supprimer le terme "{{ terme.title }}" et tout ses enfants ?
	</p>
{% endif %}

<form action="{{path('champloo_taxonomie_supprimer', {'terme_slug' : terme.slug}) }}" method="post">
	<a href="{{ path ('champloo_taxonomie_index') }}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Retour à l'index des taxonomies
	</a>
	<input type="submit"value="supprimer" class="btn btn-danger" />

	{{ form_rest(form) }}
</form>

{% endblock %}